.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.videocontrol {
  z-index: 4;
}
.control {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.arrow {
  margin-top: 35%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.volume {
  position: absolute;
  margin-top: 72%;
}
.btn {
  color: #fff;
  font-size: 25px;
  background-color: rgba(84, 84, 84, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(37, 37, 37, 0.6);
  }
}
